Repository danielparks/yanki: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-summary.sh, find-duplicates.sh

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=1024']
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: check-merge-conflict
      - id: detect-private-key
      - id: mixed-line-ending
      - id: name-tests-test
      - id: no-commit-to-branch
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.0
    hooks:
      - id: ruff
      - id: ruff-format
        args: ['--check']
  - repo: local
    hooks:
      - id: generate-summary.sh
        name: generate-summary.sh
        language: system
        entry: ./generate-summary.sh
        exclude: ^test|^web|^README|^\.git
        pass_filenames: false
        types: [file]
        stages: [pre-commit, pre-merge-commit]
        require_serial: true
      - id: find-duplicates.sh
        name: find-duplicates.sh asl/*.deck
        language: system
        entry: ./find-duplicates.sh asl/*.deck
        files: asl/.*\.deck
        pass_filenames: false
        types: [file]
        stages: [pre-commit, pre-merge-commit]
        require_serial: true

ASL summary: restore previous sorting by explicitly setting collation.
  asl/summary.txt
  generate-summary.sh
Due: generate-summary.sh

ASL extra deck: add BEACH.
  asl/extra.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL extra deck: add signs from class.
  asl/extra.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL extra deck: clarify PERFECT; add WEDDING and WASHINGTON.
  asl/extra.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL decks: add lesson 20 phrases
  asl/lesson-20-phrases.deck
  asl/lesson-20.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

`generate-summary.sh`: Disable external `diff`
  generate-summary.sh
Due: generate-summary.sh

Sort decks and cards when serving HTTP. Display direction.
  web-files/general.css
  yanki/cli.py
  yanki/filter.py
  yanki/html_out.py
Due: generate-summary.sh

ASL lesson 20 phrases: fix trim on video.
  asl/lesson-20-phrases.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL extra deck: add FIX.
  asl/extra.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL extra deck: fix some incorrect uppercase gloss.
  asl/extra.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL extra deck: add GOVERNMENT. Update PEA-BRAIN.
  asl/extra.deck
  asl/lesson-20.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL extra deck: add MEMBER, COMITTEE, etc.
  asl/extra.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL decks: trim a few more videos.
  asl/lesson-12.deck
  asl/lesson-20-phrases.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL extra deck: add CANADA.
  asl/extra.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL extra deck: add WET.
  asl/extra.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL extra deck: add COMPLAIN, PICKET, and REBEL.
  asl/extra.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL extra deck: add HANDSOME and GOOD LOOKING.
  asl/extra.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL decks: make gloss more consistent
  README.md
  asl/extra.deck
  asl/lesson-01.deck
  asl/lesson-02-phrases.deck
  asl/lesson-02.deck
  asl/lesson-03.deck
  asl/lesson-04.deck
  asl/lesson-05.deck
  asl/lesson-06.deck
  asl/lesson-07.deck
  asl/lesson-08.deck
  asl/lesson-09.deck
  asl/lesson-10.deck
  asl/lesson-11.deck
  asl/lesson-12.deck
  asl/lesson-13.deck
  asl/lesson-14.deck
  asl/lesson-15.deck
  asl/lesson-16.deck
  asl/lesson-17.deck
  asl/lesson-18.deck
  asl/lesson-19.deck
  asl/lesson-20.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL extra deck: add YOGURT.
  asl/extra.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL extra deck: add QUIET.
  asl/extra.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL decks: remove extra hyphens when not in gloss.
  asl/extra.deck
  asl/lesson-01.deck
  asl/lesson-02.deck
  asl/lesson-06.deck
  asl/lesson-08-phrases.deck
  asl/lesson-08.deck
  asl/lesson-10.deck
  asl/lesson-11.deck
  asl/lesson-12-phrases.deck
  asl/lesson-12.deck
  asl/lesson-13-phrases.deck
  asl/lesson-14-phrases.deck
  asl/lesson-15-phrases.deck
  asl/lesson-15.deck
  asl/lesson-16-phrases.deck
  asl/lesson-16.deck
  asl/lesson-19.deck
  asl/lesson-20-phrases.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL decks: remove extra hyphens when not in gloss (missed one).
  asl/lesson-19.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

Add `NoteSpec.clip_or_trim()` and use it.
  yanki/anki.py
  yanki/parser/model.py
Due: generate-summary.sh

HTML: Display media URL and clip/trim for each note.
  web-files/general.css
  yanki/html_out.py
Due: generate-summary.sh

ASL extra deck: add SKIP, GONE, and DEPLETED.
  asl/extra.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL extra deck: add READY.
  asl/extra.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL extra deck: add WHAT (legacy) and DURING.
  asl/extra.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL decks: add lesson 21.
  asl/extra.deck
  asl/lesson-15.deck
  asl/lesson-21.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL lesson 21: switch to more fluent version of LAWYER.
  asl/lesson-21.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL decks: Fill out more of lesson 21.
  asl/lesson-14.deck
  asl/lesson-18.deck
  asl/lesson-21.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL lesson 21: finish filling out deck.
  asl/extra.deck
  asl/lesson-21.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

HTML: First pass at flash-card mode.
  web-files/flash-cards.css
  web-files/flash-cards.js
  web-files/general.css
  yanki/cli.py
  yanki/html_out.py
Due: generate-summary.sh

Refactor flash card control button.
  web-files/flash-cards.js
Due: none

Simple improvements to flash card styling.
  web-files/flash-cards.css
  web-files/flash-cards.js
  yanki/html_out.py
Due: generate-summary.sh

Play videos in flash cards.
  web-files/flash-cards.js
Due: none

Flash cards: remove debug logging.
  web-files/flash-cards.js
Due: none

Flash flash card card
  web-files/flash-cards.css
Due: none

HTML: Make URLs served nicer and make titles easier to read.
  yanki/cli.py
  yanki/html_out.py
Due: generate-summary.sh

Display “Finished!” card after all the flash cards have been displayed.
  web-files/flash-cards.css
  web-files/flash-cards.js
Due: none

HTML: link each part of deck title to a list of decks or the deck itself.
  yanki/cli.py
  yanki/html_out.py
  yanki/utils.py
Due: generate-summary.sh
