Repository danielparks/yanki: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-summary.sh, find-duplicates.sh

generate-summary.sh:
  name: generate-summary.sh
  language: system
  entry: ./generate-summary.sh
  pass_filenames: false
  stages:
  - pre-commit
  - pre-merge-commit
  require_serial: true

find-duplicates.sh:
  name: find-duplicates.sh asl/*.deck
  language: system
  entry: ./find-duplicates.sh asl/*.deck
  pass_filenames: false
  stages:
  - pre-commit
  - pre-merge-commit
  require_serial: true

`uv sync -U`.
  uv.lock
Due: generate-summary.sh

Fix `ruff` lint: Unparenthesized implicit string concatenation.
  tests/syntax_test.py
Due: none

ASL lesson 29: fill out.
  asl/extra-full-pages.deck
  asl/lesson-29.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

`prek auto-update`.
  .pre-commit-config.yaml
Due: generate-summary.sh

Dependabot: group updates; update prek with GitHub actions.
  .github/dependabot.yml
  .github/workflows/dependabot-prek.yaml
Due: none

Dependabot: update `uv` dependencies monthly.
  .github/dependabot.yml
Due: none

`uv sync -U`
  pyproject.toml
  uv.lock
Due: generate-summary.sh

ASL extra: add POLITICAL and POPULAR.
  asl/extra-full-pages.deck
  asl/extra-miscellaneous.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL lesson 29: add phrases.
  asl/phrases-25.deck
  asl/phrases-29.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL lesson 30: fill out.
  asl/lesson-30.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL lesson 18: clarify that BUILD can also mean “building”.
  asl/lesson-18.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL lesson 30: add phrases.
  asl/phrases-30.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL lesson 30: Remove FIXME about classifier B page.
  asl/lesson-30.deck
Due: generate-summary.sh, find-duplicates.sh

ASL extra: add BRIDGE, IGNORE, and STRUCTURE.
  asl/extra-miscellaneous.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL lesson 9: clarify MICROWAVE verb/noun.
  asl/lesson-09.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL lesson 12: fix MINUTES gloss.
  asl/lesson-12.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL extra: add NUTs.
  asl/extra-miscellaneous.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

Lint RUF069: fix floating point comparison.
  tests/video_parameters_test.py
Due: none

RST support: update `docutils` call to support Docutils 2.
  yanki/field.py
Due: generate-summary.sh

Security: bump yt-dlp minimum version
  CHANGELOG.md
  pyproject.toml
Due: generate-summary.sh

Release 0.6.1: minor security update.
  CHANGELOG.md
  yanki/__version__.py
Due: generate-summary.sh

Release 0.6.2: Fix screenshot and change log link on PyPi.org.
  CHANGELOG.md
  pyproject.toml
  yanki/__version__.py
Due: generate-summary.sh

Prepping CHANGELOG.md for development.
  CHANGELOG.md
  pyproject.toml
Due: generate-summary.sh

Web flashcard viewer: add `<noscript>` message.
  web-files/templates/flashcards.html
Due: none

ASL extra: add WRESTLE.
  asl/extra-full-pages.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL extra: add AUTISM, JESUS, WARN.
  asl/extra-full-pages.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL phrases 4: fix missing word.
  asl/phrases-04.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL extra: add POINT.
  asl/extra-full-pages.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL extra: add GRADE.
  asl/extra-full-pages.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

`ruff`: disable new “try clause contains too many statements” lint.
  pyproject.toml
Due: generate-summary.sh

`pinact run -u`.
  .github/workflows/dependabot-prek.yaml
  .github/workflows/pr-checks.yaml
Due: none

Fix `ruff` lint: Don’t start property doc strings with “Get”.
  yanki/cache/entry.py
  yanki/cli/server.py
Due: generate-summary.sh

GitHub workflow (mostly) updates from matchgen
  .github/dependabot.yaml
  .github/workflows/dependabot-prek.yaml
  .github/workflows/pr-checks.yaml
  .github/workflows/prek-auto-update.yaml
  .pinact.yaml
  .pre-commit-config.yaml
Due: generate-summary.sh

Path conditions:
  generate-summary.sh: any file but: ^test|^web|^README|^\.git
  find-duplicates.sh: any of: asl/.*\.deck
