Repository danielparks/yanki: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-summary.sh, find-duplicates.sh

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=1024']
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: check-merge-conflict
      - id: detect-private-key
      - id: mixed-line-ending
      - id: name-tests-test
      - id: no-commit-to-branch
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.0
    hooks:
      - id: ruff
      - id: ruff-format
        args: ['--check']
  - repo: local
    hooks:
      - id: generate-summary.sh
        name: generate-summary.sh
        language: system
        entry: ./generate-summary.sh
        exclude: ^test|^web|^README|^\.git
        pass_filenames: false
        types: [file]
        stages: [pre-commit, pre-merge-commit]
        require_serial: true
      - id: find-duplicates.sh
        name: find-duplicates.sh asl/*.deck
        language: system
        entry: ./find-duplicates.sh asl/*.deck
        files: asl/.*\.deck
        pass_filenames: false
        types: [file]
        stages: [pre-commit, pre-merge-commit]
        require_serial: true

Log a message at info instead of warning when `more_info` version is bad.
  yanki/video.py
Due: generate-summary.sh

Prepare for collecting more more_info
  yanki/anki.py
  yanki/video.py
Due: generate-summary.sh

Fix clip output in video parameters
  yanki/video.py
Due: generate-summary.sh

Allow selection of card directions
  web-files/flash-cards.js
Due: none

Allow setting card direction filter in URL hash.
  web-files/flash-cards.js
Due: none

Disable bad direction UI for now.
  web-files/flash-cards.css
Due: none

ASL extra: add PARADE.
  asl/extra-full-pages.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL extra: add CELEBRATE and TOUCH.
  asl/extra-full-pages.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL extra: add REST.
  asl/extra-full-pages.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL extra: add JOIN-participate.
  asl/extra-full-pages.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

Apparently “flashcard” and “website” are single words.
  README.md
  asl/lesson-20.deck
  tests/html_test.py
  web-files/flashcards.css
  web-files/flashcards.js
  yanki/cli.py
  yanki/html_out.py
Due: generate-summary.sh, find-duplicates.sh

ASL extra: fill out OPPOSITE.
  asl/extra-full-pages.deck
  asl/extra-miscellaneous.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

Convert markdown to AsciiDoc with `kramdoc`.
  README.adoc
  asl/README.adoc
  asl/README.md
  pyproject.toml
  test-decks/good/media/README.adoc
  test-decks/good/media/README.md
Due: generate-summary.sh

READMEs: reflow text and fix tips.
  README.adoc
  asl/README.adoc
  test-decks/good/media/README.adoc
Due: generate-summary.sh

ASL lesson 26: add DIG and FLOWER.
  asl/lesson-26.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL lesson 26: add GRASS, HEAVY, HIGH, LESS, low, and MOUNTAIN.
  asl/lesson-24.deck
  asl/lesson-26.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL decks: add lesson 26 groups and move existing cards to them.
  asl/extra-full-pages.deck
  asl/extra-lesson.deck
  asl/extra-miscellaneous.deck
  asl/lesson-09.deck
  asl/lesson-26.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL lesson 26: expand OUTSIDE, move QUOTE, and add TREE.
  asl/lesson-11.deck
  asl/lesson-26.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL decks: add lesson 26 phrases.
  asl/lesson-26-phrases.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL lesson 26 phrases: add optional phrases.
  asl/lesson-26-phrases.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL lesson 26 phrases: add more English translations.
  asl/lesson-26-phrases.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL lesson 26: clarify translation of OUTSIDE (two-handed version).
  asl/lesson-26.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL lesson 26 phrases: add more English translations from lesson video.
  asl/lesson-26-phrases.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL lesson 26 phrases: remove blank translations.
  asl/lesson-26-phrases.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL lesson 26 phrases: fix incorrect gloss.
  asl/lesson-26-phrases.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL lesson 26: trim video; remove duplicate video.
  asl/lesson-26.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

`uv sync -U`.
  uv.lock
Due: generate-summary.sh

ASL extra deck: add CHAMPION, SMELL, and TOWELL.
  asl/extra-full-pages.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

First pass at `to-json` command.
  tests/cli_test.py
  yanki/anki.py
  yanki/cli.py
  yanki/parser/config.py
  yanki/parser/model.py
Due: generate-summary.sh

Add `--html-media-path` option to `to-json`.
  yanki/anki.py
  yanki/cli.py
Due: generate-summary.sh

Remove a bunch of duplicate information from JSON export.
  yanki/anki.py
  yanki/cli.py
Due: generate-summary.sh

Change `to-json` to use `-o` option for output path.
  tests/cli_test.py
  yanki/cli.py
Due: generate-summary.sh

ASL extra: fix sort for SMELL and TOWEL.
  asl/extra-full-pages.deck
Due: generate-summary.sh, find-duplicates.sh

ASL extra: add ALLOW and FORCE.
  asl/extra-full-pages.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

Allow URLs to be used as the base path for HTML or JSON output.
  yanki/field.py
Due: generate-summary.sh

ASL extra: add CHINA and WORLD.
  asl/extra-full-pages.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

`to-json`: add option to copy media into a directory.
  yanki/cli.py
Due: generate-summary.sh

Flashcards JS: fix indentation.
  web-files/flashcards.js
Due: none

Flashcards: direction filter control.
  web-files/flashcards.css
  web-files/flashcards.js
Due: none

Flashcards: add back button.
  web-files/flashcards.css
  web-files/flashcards.js
Due: none
