Repository danielparks/yanki: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-summary.sh, find-duplicates.sh

generate-summary.sh:
  name: generate-summary.sh
  language: system
  entry: ./generate-summary.sh
  pass_filenames: false
  stages:
  - pre-commit
  - pre-merge-commit
  require_serial: true

find-duplicates.sh:
  name: find-duplicates.sh asl/*.deck
  language: system
  entry: ./find-duplicates.sh asl/*.deck
  pass_filenames: false
  stages:
  - pre-commit
  - pre-merge-commit
  require_serial: true

Build: be explicit about what to include in package
  pyproject.toml
Due: generate-summary.sh

`README.md`: Recommend `uvx`
  README.md
Due: none

Add `--version` option
  yanki/cli/__init__.py
Due: generate-summary.sh

Add help for `--verbose`.
  yanki/cli/__init__.py
Due: generate-summary.sh

`README.md`: update `--help` output.
  README.md
Due: none

Fix README on PyPi
  README.md
  pyproject.toml
Due: generate-summary.sh

Bump version to 0.5.1.
  yanki/__version__.py
Due: generate-summary.sh

Experimental `trim: auto` support
  yanki/anki.py
  yanki/parser/config.py
  yanki/parser/model.py
  yanki/video.py
Due: generate-summary.sh

`ffmpeg`: Improve run time logging
  yanki/video.py
Due: generate-summary.sh

`Video`: Don’t run `ffprobe` more than once
  yanki/video.py
Due: generate-summary.sh

`Video`: Don’t check metadata `mtime`
  yanki/video.py
Due: generate-summary.sh

Server: don’t show backtraces for errors from `http.server`.
  yanki/cli/server.py
Due: generate-summary.sh

`uv sync -U`.
  uv.lock
Due: generate-summary.sh

ASL extra: add MESS-UP, SLOPPY, and STICKY.
  asl/extra-full-pages.deck
  asl/extra-miscellaneous.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL extra: trim STICKY.
  asl/extra-miscellaneous.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL extra: trim SMELL and STINK.
  asl/extra-full-pages.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

RSE102: Allow `raise MyError()`
  pyproject.toml
Due: generate-summary.sh

Add trivial `Cache` class to manage cache
  tests/filter_test.py
  tests/html_test.py
  tests/note_test.py
  tests/test-decks_test.py
  tests/video_parameters_test.py
  yanki/cache.py
  yanki/cli/__init__.py
  yanki/video.py
Due: generate-summary.sh

ASL extra: add GOSSIP and SECRET.
  asl/extra-full-pages.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

Tests: log actual exceptions caught
  tests/syntax_test.py
  tests/test-decks_test.py
  tests/util_test.py
  tests/video_parameters_test.py
Due: none

Format `.pre-commit-config.yaml`.
  .pre-commit-config.yaml
Due: generate-summary.sh

Format JavaScript and CSS.
  web-files/flashcards.css
  web-files/flashcards.js
  web-files/general.css
Due: none

Format pyproject.toml.
  pyproject.toml
Due: generate-summary.sh

Video: use in-memory info for download
  yanki/video.py
Due: generate-summary.sh

Report yt_dlp download errors better.
  yanki/video.py
Due: generate-summary.sh

ASL extra: add SWEAT.
  asl/extra-miscellaneous.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL extra: add SPICY.
  asl/extra-full-pages.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL extra: add words from class.
  asl/extra-full-pages.deck
  asl/extra-miscellaneous.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL decks: add stub for lesson 27
  asl/extra-full-pages.deck
  asl/extra-lesson.deck
  asl/extra-miscellaneous.deck
  asl/lesson-27.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL extra: add DIZZY, HOTEL, and menstruation.
  asl/extra-full-pages.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL extra: add COLD-sick.
  asl/extra-full-pages.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL extra: clarify COLD-sick + PAPER.
  asl/extra-full-pages.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

Video: log elapsed time running `ffprobe`.
  yanki/video.py
Due: generate-summary.sh

Video: log elapsed times in fixed point format with commas.
  yanki/video.py
Due: generate-summary.sh

.gitignore: add *.log and remove unused entries.
  .gitignore
Due: none

ASL extra: add COUGH.
  asl/extra-full-pages.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL extra: add EACH, EVENT, EVERY, HUMAN.
  asl/extra-full-pages.deck
  asl/extra-miscellaneous.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

CLI testing: disable color and info logging
  tests/conftest.py
Due: none

Factor out video cache management
  pyproject.toml
  tests/cache_test.py
  uv.lock
  yanki/cache.py
  yanki/cli/__init__.py
  yanki/utils.py
  yanki/video.py
Due: generate-summary.sh

Path conditions:
  generate-summary.sh: any file but: ^test|^web|^README|^\.git
  find-duplicates.sh: any of: asl/.*\.deck
