Repository danielparks/yanki: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-summary.sh, find-duplicates.sh

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=1024']
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: check-merge-conflict
      - id: detect-private-key
      - id: mixed-line-ending
      - id: name-tests-test
      - id: no-commit-to-branch
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.0
    hooks:
      - id: ruff
      - id: ruff-format
        args: ['--check']
  - repo: local
    hooks:
      - id: generate-summary.sh
        name: generate-summary.sh
        language: system
        entry: ./generate-summary.sh
        exclude: ^test|^web|^README|^\.git
        pass_filenames: false
        types: [file]
        stages: [pre-commit, pre-merge-commit]
        require_serial: true
      - id: find-duplicates.sh
        name: find-duplicates.sh asl/*.deck
        language: system
        entry: ./find-duplicates.sh asl/*.deck
        files: asl/.*\.deck
        pass_filenames: false
        types: [file]
        stages: [pre-commit, pre-merge-commit]
        require_serial: true

Flashcard UI: remove `--directory-width` var.
  web-files/static/flashcards.css
Due: none

Flashcard UI: make entire viewer title link to directory.
  web-files/static/flashcards.css
  web-files/static/flashcards.js
  web-files/templates/flashcards.html
Due: none

Flashcard UI: remove unused `query_text()` function.
  web-files/static/flashcards.js
Due: none

Flashcard UI: add `fetch_json()` function.
  web-files/static/flashcards.js
Due: none

ASL extra: trim a few videos.
  asl/extra-full-pages.deck
  asl/extra-miscellaneous.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

Fix README and add test for README example
  README.md
  tests/package_test.py
  yanki/cli/__init__.py
Due: generate-summary.sh

Refactor `yanki.html_out` mostly into `yanki.web.summary`.
  tests/web_summary_test.py
  yanki/cli/__init__.py
  yanki/web/__init__.py
  yanki/web/summary/__init__.py
Due: generate-summary.sh

Utils: miscellaneous clean up for `hardlink_into` and `symlink_into`.
  yanki/utils.py
Due: generate-summary.sh

`cli.decks`: Clean up type annotations.
  yanki/cli/decks.py
Due: generate-summary.sh

Factor out code to save flashcard UI HTML and assets into a directory.
  yanki/cli/__init__.py
  yanki/json.py
  yanki/tree.py
  yanki/utils.py
  yanki/web/summary.py
  yanki/web/ui.py
Due: generate-summary.sh

`serve-http` -> `serve-summary` and `to-html` -> `save-summary`.
  README.md
  tests/cli_test.py
  tests/web_summary_test.py
  yanki/cli/__init__.py
  yanki/web/summary.py
Due: generate-summary.sh

Flashcard UI: don’t require it be run from the root.
  yanki/web/ui.py
Due: generate-summary.sh

Added `yanki save-flashcards DIR *.decks`.
  README.md
  tests/cli_test.py
  yanki/cli/__init__.py
  yanki/utils.py
  yanki/web/ui.py
Due: generate-summary.sh

Flashcard UI: don’t require unsafe-inline JS
  web-files/static/flashcards.js
  web-files/templates/flashcards.html
Due: none

Flashcard UI: replace old deck files, and normalize names
  pyproject.toml
  uv.lock
  yanki/utils.py
  yanki/web/ui.py
Due: generate-summary.sh

Flashcard UI: don’t load all card videos at once.
  web-files/static/flashcards.js
Due: none

Web UI: more compact direction control.
  web-files/static/flashcards.css
  web-files/templates/flashcards.html
Due: none

Web UI: move status line out of control bar
  web-files/static/flashcards.css
  web-files/templates/flashcards.html
Due: none

Web UI: fix viewer to not extend off edge of page
  web-files/static/flashcards.css
Due: none

Web UI: shrink cards when window resizes
  web-files/static/flashcards.css
Due: none

ASL lesson 27: fill out more of lesson.
  asl/extra-full-pages.deck
  asl/lesson-27.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

CLI: fold `open-videos-from-file` into `open-videos`.
  README.md
  tests/cli_test.py
  yanki/cli/__init__.py
Due: generate-summary.sh

ASL lesson 11 phrases: fix missing word.
  asl/lesson-11-phrases.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

`uv sync -U`.
  uv.lock
Due: generate-summary.sh

ASL lesson 27: fill out rest of lesson
  asl/lesson-27.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL lesson 27: add phrases (without transalations).
  asl/lesson-27-phrases.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL lessons 28 – 30: vocabulary and phrases stubs
  asl/lesson-28-phrases.deck
  asl/lesson-28.deck
  asl/lesson-29-phrases.deck
  asl/lesson-29.deck
  asl/lesson-30-phrases.deck
  asl/lesson-30.deck
Due: generate-summary.sh, find-duplicates.sh

ASL lessons 28 – 30: move vocabulary from other decks.
  asl/extra-full-pages.deck
  asl/extra-lesson.deck
  asl/extra-miscellaneous.deck
  asl/lesson-08.deck
  asl/lesson-20.deck
  asl/lesson-22.deck
  asl/lesson-28.deck
  asl/lesson-29.deck
  asl/lesson-30.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL: rename `lesson-*-phrases.deck` -> `phrases-*.deck`.
  asl/phrases-01.deck
  asl/phrases-02.deck
  asl/phrases-03.deck
  asl/phrases-04.deck
  asl/phrases-05.deck
  asl/phrases-06.deck
  asl/phrases-07.deck
  asl/phrases-08.deck
  asl/phrases-09.deck
  asl/phrases-10.deck
  asl/phrases-11.deck
  asl/phrases-12.deck
  asl/phrases-13.deck
  asl/phrases-14.deck
  asl/phrases-15.deck
  asl/phrases-16.deck
  asl/phrases-17.deck
  asl/phrases-18.deck
  asl/phrases-19.deck
  asl/phrases-20.deck
  asl/phrases-21.deck
  asl/phrases-22.deck
  asl/phrases-23.deck
  asl/phrases-24.deck
  asl/phrases-25.deck
  asl/phrases-26.deck
  asl/phrases-27.deck
  asl/phrases-28.deck
  asl/phrases-29.deck
  asl/phrases-30.deck
Due: generate-summary.sh, find-duplicates.sh

ASL phrases 27: miscellaneous fixes.
  asl/phrases-27.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL phrases 19: remove extra word in gloss.
  asl/phrases-19.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL lesson 27: add deck for vegetable signs.
  asl/extra-full-pages.deck
  asl/extra-lesson.deck
  asl/lesson-27-vegetables.deck
  asl/lesson-27.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL lesson 27: add signs from lesson video.
  asl/extra-full-pages.deck
  asl/extra-lesson.deck
  asl/phrases-27.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL: add signs related to therapy and shaving.
  asl/extra-miscellaneous.deck
  asl/lesson-28.deck
  asl/lesson-29.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

Release 0.6.0: flashcard web UI
  CHANGELOG.md
  pyproject.toml
  yanki/__version__.py
Due: generate-summary.sh

README: using flashcards no longer requires Anki.
  CHANGELOG.md
  README.md
  pyproject.toml
Due: generate-summary.sh

ASL lesson 5: fix VIDEO-record
  asl/lesson-05.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

`yanki --help`: better overall description.
  README.md
  yanki/cli/__init__.py
Due: generate-summary.sh

ASL decks: trim a few videos.
  asl/extra-full-pages.deck
  asl/lesson-27.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh
