Repository danielparks/yanki: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-summary.sh, find-duplicates.sh

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=1024']
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: check-merge-conflict
      - id: detect-private-key
      - id: mixed-line-ending
      - id: name-tests-test
      - id: no-commit-to-branch
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.0
    hooks:
      - id: ruff
      - id: ruff-format
        args: ['--check']
  - repo: local
    hooks:
      - id: generate-summary.sh
        name: generate-summary.sh
        language: system
        entry: ./generate-summary.sh
        exclude: ^test|^web|^README|^\.git
        pass_filenames: false
        types: [file]
        stages: [pre-commit, pre-merge-commit]
        require_serial: true
      - id: find-duplicates.sh
        name: find-duplicates.sh asl/*.deck
        language: system
        entry: ./find-duplicates.sh asl/*.deck
        files: asl/.*\.deck
        pass_filenames: false
        types: [file]
        stages: [pre-commit, pre-merge-commit]
        require_serial: true

ASL extra deck: add DOLLAR page group.
  asl/extra.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

Better README.md
  README.md
  asl/README.md
Due: generate-summary.sh

Basic ability to filter notes based on tag
  tests/test-decks_test.py
  yanki/cli.py
  yanki/filter.py
Due: generate-summary.sh

Ensure test decks don’t assume stopwatch.mp4 is longer than 1 second.
  test-decks/good/overlay_text.deck
  test-decks/good/slow.deck
Due: none

Generate a new, shorter `stopwatch.mp4`.
  test-decks/good/media/README.md
  test-decks/good/media/stopwatch.mp4
Due: none

Test tag filters.
  tests/filter_test.py
  tests/test-decks_test.py
  yanki/cli.py
  yanki/filter.py
Due: generate-summary.sh

ASL decks: make more cards extra; miscellaneous fixes.
  asl/lesson-02.deck
  asl/lesson-03.deck
  asl/lesson-04.deck
  asl/lesson-05.deck
  asl/lesson-06.deck
  asl/lesson-07.deck
  asl/lesson-08.deck
  asl/lesson-09.deck
  asl/lesson-10.deck
  asl/lesson-11.deck
  asl/lesson-12.deck
  asl/lesson-13.deck
  asl/lesson-14.deck
  asl/lesson-15.deck
  asl/lesson-16.deck
  asl/lesson-17.deck
  asl/lesson-18.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL decks: updates from lesson 15 video.
  asl/extra.deck
  asl/lesson-15.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL extra deck: add COMMENT and STORY.
  asl/extra.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL extra deck: add DON’T CARE and UGLY.
  asl/extra.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL: remove TWEET (Twitter is dead) and move old CHICKEN to extra deck.
  asl/extra.deck
  asl/lesson-10.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL: clarify sign for 300.
  asl/numbers-101+.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL: consistently use “[body-shift]-OR”.
  asl/lesson-07-phrases.deck
  asl/lesson-07.deck
  asl/lesson-08-phrases.deck
  asl/lesson-09-phrases.deck
  asl/lesson-11.deck
  asl/lesson-18-phrases.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL lesson 18 phrases: fix wording.
  asl/lesson-18-phrases.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL: consistently use “[body-shift]-OR” (missed a few last time).
  asl/lesson-13-phrases.deck
  asl/lesson-14-phrases.deck
  asl/lesson-16-phrases.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL numbers 101+: slow larger number videos down.
  asl/numbers-101+.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

Use in-process CLI tests when possible for speed.
  pyproject.toml
  tests/cli_test.py
  tests/conftest.py
Due: generate-summary.sh

ASL decks: remove duplicate `more:` configs
  asl/lesson-02.deck
  asl/lesson-05.deck
  asl/lesson-11.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

README.md: switch to using `[!TIP]` for note about LifePrint.
  README.md
  asl/README.md
Due: generate-summary.sh

ASL extra deck: add CONFUSED.
  asl/extra.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

Support `version: 1` config for future compatibility.
  tests/syntax_test.py
  yanki/parser/parser.py
Due: generate-summary.sh

README.md: Add documentation for `slow:`.
  README.md
Due: none

README.md: Add documentation for `crop:`.
  README.md
Due: none

ASL extra deck: add CHANCE, DECIDE, MOST TIME, and TEND-to.
  asl/extra.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL extra deck: add PREDICT.
  asl/extra.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL extra deck: add INFLUENCE and CAUSE.
  asl/extra.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL extra deck: add various signs I ran into at café.
  asl/extra.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL lesson 9: clarify LIGHT-WEIGHT
  asl/lesson-09.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL extra deck: add CURIOUS, DARK, and REASON.
  asl/extra.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL decks: move DARK variants and a variant of GOLD.
  asl/extra.deck
  asl/lesson-06.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL extra deck: add PATIENCE and impatient.
  asl/extra.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL extra deck: update PATIENCE to video without wiggle (matches description and Handspeak).
  asl/extra.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL extra deck: add COOL variants.
  asl/extra.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL extra deck: add BREAD, CORN, and SPAGHETTI (lesson 17).
  asl/extra.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL extra deck: trim more videos; minor clean up.
  asl/extra.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL lesson 2: add directional SPELL.
  asl/lesson-02.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL extra deck: add signs from lesson 18 video, plus EMPTY and FORGET variant.
  asl/extra.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL extra deck: add COVID, incremental-IMPROVE, MINOR, PROGRESS, and SUPPORT.
  asl/extra.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL extra deck: add UNTIL.
  asl/extra.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL extra deck: fix a few broken more URLs.
  asl/extra.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh
