Repository danielparks/yanki: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-summary.sh, find-duplicates.sh

generate-summary.sh:
  name: generate-summary.sh
  language: system
  entry: ./generate-summary.sh
  pass_filenames: false
  stages:
  - pre-commit
  - pre-merge-commit
  require_serial: true

find-duplicates.sh:
  name: find-duplicates.sh asl/*.deck
  language: system
  entry: ./find-duplicates.sh asl/*.deck
  pass_filenames: false
  stages:
  - pre-commit
  - pre-merge-commit
  require_serial: true

ASL extra deck: add INVOLVE, ORGASM, TROUBLE.
  asl/extra.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL extra: add various signs I ran into or wanted.
  asl/extra.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL extra: sort Lifeprint pages groups.
  asl/extra.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL extra: trim SYMPATHY video.
  asl/extra.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL phrases: PLAY-FIELD -> PLAY + FIELD.
  asl/lesson-25-phrases.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL decks: remove extra `md:` from `more`.
  asl/lesson-25.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL phrases: move English translation to `more`.
  asl/lesson-08-phrases.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL extra: add ENTRANCE.
  asl/extra.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL extra: add signs I ran into or needed today.
  asl/extra.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL extra: add COCHLEAR-IMPLANT.
  asl/extra.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

Attempt to clarify README.md.
  README.md
Due: none

ASL extra: add CARD, HONEST, and SERIOUS.
  asl/extra.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL generate-summary.sh: don’t display diff if generating the summary fails.
  generate-summary.sh
Due: generate-summary.sh

ASL extra decks: split into three decks
  asl/extra-full-pages.deck
  asl/extra-lesson.deck
  asl/extra-miscellaneous.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

List format variables in `list-notes` help.
  yanki/cli.py
Due: generate-summary.sh

Better errors when media URL doesn’t return just one video.
  yanki/cli.py
  yanki/video.py
Due: generate-summary.sh

find-duplicates.sh -> check-asl.sh
  .pre-commit-config.yaml
  check-asl.sh
  find-duplicates.sh
Due: generate-summary.sh

Fix check-asl.sh in pre-commit-config.yaml.
  .pre-commit-config.yaml
  check-asl.sh
Due: generate-summary.sh

ASL extra: fill out CONTEXT; add DESSERT.
  asl/extra-full-pages.deck
  asl/extra-miscellaneous.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

Wrap various long lines.
  yanki/cli.py
  yanki/field.py
  yanki/html_out.py
  yanki/video.py
Due: generate-summary.sh

Rename `async` functions to end with `_async`.
  tests/note_test.py
  yanki/anki.py
  yanki/filter.py
Due: generate-summary.sh

Fix incorrect comment in `Video`.
  yanki/video.py
Due: generate-summary.sh

Shorten comment in `Video` to only take 2 lines.
  yanki/video.py
Due: generate-summary.sh

Don’t use `asyncio.run` in `Video`.
  yanki/cli.py
  yanki/video.py
Due: generate-summary.sh

ASL decks: use auto-crop to remove black bars.
  asl/lesson-03.deck
  asl/lesson-10.deck
  asl/lesson-16.deck
  asl/lesson-19.deck
  asl/lesson-24-phrases.deck
  asl/lesson-24.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

Automatically crop black borders on media.
  asl/summary.txt
  yanki/anki.py
  yanki/parser/config.py
  yanki/video.py
Due: generate-summary.sh

Update dependencies: `uv sync -U`.
  uv.lock
Due: generate-summary.sh

ASL extra deck: add SURGERY.
  asl/extra-full-pages.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL extra decks: check that they’re sorted on every commit.
  asl/extra-full-pages.deck
  asl/extra-miscellaneous.deck
  asl/summary.txt
  check-asl.sh
Due: generate-summary.sh, find-duplicates.sh

Improvements to automatic cropping:
  asl/summary.txt
  yanki/anki.py
  yanki/video.py
Due: generate-summary.sh

Fix `asl/summary.txt`
  asl/summary.txt
Due: generate-summary.sh

Add version to more_info cache
  yanki/video.py
Due: generate-summary.sh

Clean up `Note.finalize_async()`
  yanki/anki.py
  yanki/video.py
Due: generate-summary.sh

`Video._crop` should never be `"none"`.
  yanki/video.py
Due: generate-summary.sh

`Video`: sort parameters list for stability
  asl/summary.txt
  yanki/video.py
Due: generate-summary.sh

Fix format string in error when `clip` is too short.
  yanki/video.py
Due: generate-summary.sh

Accept `""` as valid `crop:` value, in addition to `"none"`.
  yanki/video.py
Due: generate-summary.sh

`Video`: only build `ffmpeg` command when needed
  yanki/video.py
Due: generate-summary.sh

Fix: collect more_info from clipped videos
  yanki/video.py
Due: generate-summary.sh

Support `trim: none`.
  yanki/parser/config.py
Due: generate-summary.sh

Path conditions:
  generate-summary.sh: any file but: ^test|^web|^README|^\.git
  find-duplicates.sh: any of: asl/.*\.deck
