Repository danielparks/yanki: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-summary.sh, find-duplicates.sh

generate-summary.sh:
  name: generate-summary.sh
  language: system
  entry: ./generate-summary.sh
  pass_filenames: false
  stages:
  - pre-commit
  - pre-merge-commit
  require_serial: true

find-duplicates.sh:
  name: find-duplicates.sh asl/*.deck
  language: system
  entry: ./find-duplicates.sh asl/*.deck
  pass_filenames: false
  stages:
  - pre-commit
  - pre-merge-commit
  require_serial: true

Flash cards: resize question and answer areas for visibility.
  web-files/flash-cards.css
Due: none

Flash cards: lighten h1 link color.
  web-files/flash-cards.css
Due: none

Flash cards: reorganize Javascript a bit.
  web-files/flash-cards.js
Due: none

Flash cards: progress when the user hits space.
  web-files/flash-cards.js
Due: none

Flash cards: reorganize CSS a bit.
  web-files/flash-cards.css
Due: none

ASL extra deck: fix text for WHAT (legacy version).
  asl/extra.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

HTML: reorganize code a bit.
  yanki/html_out.py
Due: generate-summary.sh

to-html: write HTML and media to a directory.
  tests/cli_test.py
  yanki/anki.py
  yanki/cli.py
  yanki/html_out.py
Due: generate-summary.sh

to-html: don’t show full path to deck in sub-index.
  yanki/html_out.py
Due: generate-summary.sh

ASL decks: remove duplicate barber sign.
  asl/lesson-20.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

find-duplicates.sh: fail when there is a duplicate.
  find-duplicates.sh
Due: generate-summary.sh

ASL decks: add lesson 21 phrases.
  asl/lesson-21-phrases.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL: trim a video and fix text.
  asl/extra.deck
  asl/lesson-21-phrases.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

Reorganize html_out.py slightly.
  yanki/html_out.py
Due: generate-summary.sh

HTML: display deck list in tree
  tests/cli_test.py
  yanki/html_out.py
Due: generate-summary.sh

Very basic test of HTML generation.
  tests/html_test.py
Due: none

ASL decks: add lesson 22 stub and move existing signs to it.
  asl/extra.deck
  asl/lesson-06.deck
  asl/lesson-22.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL lesson 22: rest of vocabulary and an extra phrase.
  asl/extra.deck
  asl/lesson-22-phrases.deck
  asl/lesson-22.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL lesson 22: add B-A-N-K, BROKE, BUY, and SHOPPING.
  asl/lesson-22.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

Tests: remove duplicate code.
  tests/cli_test.py
  tests/conftest.py
  tests/html_test.py
Due: none

Fix sorting in list-notes when video doesn’t need to be downloaded.
  tests/filter_test.py
  yanki/filter.py
Due: generate-summary.sh

Flash cards: leave space for `#controls` at end of `body`.
  web-files/flash-cards.css
Due: none

HTML: play videos inline on mobile.
  yanki/field.py
Due: generate-summary.sh

Flash cards: clarify two uses of `media` class.
  web-files/flash-cards.css
  web-files/flash-cards.js
Due: none

Flash cards: better HTML and CSS.
  web-files/flash-cards.css
  yanki/html_out.py
Due: generate-summary.sh

HTML: better support for smaller screens and mobile devices.
  web-files/flash-cards.css
  yanki/html_out.py
Due: generate-summary.sh

HTML: better handle wide videos on small screens.
  web-files/flash-cards.css
  web-files/general.css
Due: none

HTML: ensure media files are readable when outputting to a specific directory.
  yanki/html_out.py
Due: generate-summary.sh

ASL decks: standardize on QM-wig instead of QM-WIG.
  asl/lesson-14.deck
  asl/lesson-20-phrases.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL decks: fill out lesson 22 phrases.
  asl/lesson-22-phrases.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL lesson 22 phrases: remove extra tag from most phrases.
  asl/lesson-22-phrases.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL lesson 22: add MORE-THAN.
  asl/extra.deck
  asl/lesson-22.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL lesson 23: stubs.
  asl/lesson-23-phrases.deck
  asl/lesson-23.deck
Due: generate-summary.sh, find-duplicates.sh

ASL lesson 23: move signs from other decks.
  asl/extra.deck
  asl/lesson-23.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL lesson 23: fill out vocabulary.
  asl/lesson-23.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL lesson 23: fill out phrases.
  asl/lesson-23-phrases.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL extra deck: add MISS and clarify “miss” meaning of GUESS.
  asl/extra.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL decks: standardize on “CL:” abbreviation for “classifier.”
  asl/extra.deck
  asl/lesson-04.deck
  asl/lesson-17.deck
  asl/lesson-18.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL lesson 24: add groups and move existing vocabulary into them.
  asl/extra.deck
  asl/lesson-24.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL extra deck: add extra signs from lesson 24 video.
  asl/extra.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

Path conditions:
  generate-summary.sh: any file but: ^test|^web|^README|^\.git
  find-duplicates.sh: any of: asl/.*\.deck
