Repository danielparks/yanki: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-summary.sh, find-duplicates.sh

generate-summary.sh:
  name: generate-summary.sh
  language: system
  entry: ./generate-summary.sh
  pass_filenames: false
  stages:
  - pre-commit
  - pre-merge-commit
  require_serial: true

find-duplicates.sh:
  name: find-duplicates.sh asl/*.deck
  language: system
  entry: ./find-duplicates.sh asl/*.deck
  pass_filenames: false
  stages:
  - pre-commit
  - pre-merge-commit
  require_serial: true

Miscellaneous pre-commit-hooks changes
  .pre-commit-config.yaml
Due: generate-summary.sh

Pre-commit hook: exclude asl/summary.txt from large files check.
  .pre-commit-config.yaml
Due: generate-summary.sh

ASL phrases 21: trim video.
  asl/phrases-21.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL extra: add CHARGE and FROG.
  asl/extra-full-pages.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL: re-trim 99 and a phrase video.
  asl/numbers-31-100.deck
  asl/phrases-22.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL extra decks: trim LISTEN videos.
  asl/extra-full-pages.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

`uv sync -U`.
  uv.lock
Due: generate-summary.sh

ASL lesson 28: add BLANKET.
  asl/lesson-28.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL lesson 12 phrases: trim video.
  asl/phrases-12.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

`generate-summary.sh`: update `asl/summary.txt` atomically.
  generate-summary.sh
Due: generate-summary.sh

Demo: add decks; add screenshot and demo link to README.
  README.md
  demo/README.md
  demo/asl-alphabet.deck
  demo/asl-fingerspelled-words.deck
  demo/asl-months.deck
  demo/web-ui.jpg
Due: generate-summary.sh

ASL lesson 26 phrases: trim video.
  asl/phrases-26.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL extra: add CHOOSE and OPTIONS.
  asl/extra-full-pages.deck
  asl/extra-miscellaneous.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL extra: add AFRICA, AUTOMATIC, and ROOF.
  asl/extra-full-pages.deck
  asl/extra-miscellaneous.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

Add heading to directory when there is no viewer.
  web-files/static/flashcards.css
  web-files/templates/flashcards.html
Due: none

Web UI: don’t require a root for the deck tree — there can be multiple top decks.
  web-files/static/flashcards.js
  web-files/templates/flashcards.html
  yanki/tree.py
  yanki/web/ui.py
Due: generate-summary.sh

ASL extra: add PROMISE.
  asl/extra-full-pages.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

Use `typos` to check for spelling mistakes.
  .github/workflows/pr-checks.yaml
  .pre-commit-config.yaml
  .typos.toml
  asl/extra-full-pages.deck
  asl/extra-lesson.deck
  asl/extra-miscellaneous.deck
  asl/lesson-13.deck
  asl/lesson-20.deck
  asl/lesson-26.deck
  asl/lesson-28.deck
  asl/lesson-29.deck
  asl/phrases-23.deck
  asl/summary.txt
  tests/cache_test.py
  tests/url_regex_test.py
  yanki/cache/entry.py
  yanki/cli/__init__.py
  yanki/parser/parser.py
  yanki/utils.py
  yanki/video.py
Due: generate-summary.sh, find-duplicates.sh

Update PR checks workflow actions.
  .github/workflows/pr-checks.yaml
Due: none

Configure dependabot to periodically check that actions are up-to-date.
  .github/dependabot.yml
Due: none

ASL extra: add MUSEUM.
  asl/extra-miscellaneous.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL extra: add HISTORY.
  asl/extra-full-pages.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL lesson 28: add COPY, DIAPER, and DOTTED.
  asl/lesson-28.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL lesson 28: add more HAT signs, NECKLACE, and BRACELET.
  asl/extra-full-pages.deck
  asl/lesson-28.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL lesson 28: fill out vocabulary.
  asl/lesson-28.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL lesson 6: clarify THEMSELVES; trim more videos.
  asl/lesson-06.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

Pre-commit hook: match typos version to GitHub action.
  .pre-commit-config.yaml
Due: generate-summary.sh

ASL extra: add DUMB and STUPID.
  asl/extra-full-pages.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL extra: remove duplicate STUPID video.
  asl/extra-full-pages.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL lesson 26: trim videos.
  asl/lesson-26.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

Support and document JS runtime for YouTube downloads.
  README.md
  pyproject.toml
  uv.lock
Due: generate-summary.sh

ASL extra: add FAMOUS, FLAG, and medical-PATIENT.
  asl/extra-full-pages.deck
  asl/extra-miscellaneous.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL phrases 28: fill out.
  asl/phrases-28.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL lesson 10: trim phrase video.
  asl/phrases-10.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL extra: add RINGING.
  asl/extra-full-pages.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

Pre-commit hook: bump typos version.
  .pre-commit-config.yaml
Due: generate-summary.sh

ASL extra: add DRUNK and SKI.
  asl/extra-full-pages.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL extra: add CHRIST, GENERAL, HANUKKAH, JEWISH, and WISE.
  asl/extra-full-pages.deck
  asl/extra-miscellaneous.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

Path conditions:
  generate-summary.sh: any file but: ^test|^web|^README|^\.git
  find-duplicates.sh: any of: asl/.*\.deck
