Repository danielparks/yanki: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-summary.sh, find-duplicates.sh

generate-summary.sh:
  name: generate-summary.sh
  language: system
  entry: ./generate-summary.sh
  pass_filenames: false
  stages:
  - pre-commit
  - pre-merge-commit
  require_serial: true

find-duplicates.sh:
  name: find-duplicates.sh asl/*.deck
  language: system
  entry: ./find-duplicates.sh asl/*.deck
  pass_filenames: false
  stages:
  - pre-commit
  - pre-merge-commit
  require_serial: true

`Cache` fix: eliminate file read locks
  yanki/cache.py
Due: generate-summary.sh

`Cache`: add `async_lock_limit` to limit open files
  yanki/cache.py
Due: generate-summary.sh

`Video`: use `@cached_json` for `load_raw_metadata()`.
  yanki/cli/__init__.py
  yanki/video.py
Due: generate-summary.sh

`Video`: use `@cached_path` for `raw_video()`.
  yanki/video.py
Due: generate-summary.sh

`Video`: use `@cached_json` for `more_info()`.
  asl/summary.txt
  yanki/video.py
Due: generate-summary.sh

`Video`: Simplify `raw_metadata()`.
  yanki/utils.py
  yanki/video.py
Due: generate-summary.sh

Tests: fix `cache_path` fixture scope
  tests/conftest.py
Due: none

HTML output: improvements
  tests/html_test.py
  yanki/cli/__init__.py
  yanki/html_out.py
  yanki/utils.py
Due: generate-summary.sh

Tests: better HTML tests.
  tests/html_test.py
Due: none

Ensure deck titles aren’t blank
  test-decks/errors/empty-title.deck
  yanki/html_out.py
  yanki/parser/parser.py
Due: generate-summary.sh

HTML output: shorten and clarify a few variable names.
  yanki/html_out.py
Due: generate-summary.sh

HTML output: make sure deck HTML filenames are unique.
  tests/html_test.py
  yanki/html_out.py
Due: generate-summary.sh

HTML output: clean up `DeckTree` a bit.
  yanki/html_out.py
Due: generate-summary.sh

CLI: expand help for `to-html`.
  yanki/cli/__init__.py
Due: generate-summary.sh

Update Cache TODO comment.
  yanki/cache.py
Due: generate-summary.sh

`Video`: use `@cached_path` for `processed_video_async()`.
  asl/summary.txt
  tests/cache_test.py
  tests/cli_test.py
  tests/util_test.py
  yanki/cache.py
  yanki/utils.py
  yanki/video.py
Due: generate-summary.sh

Split caching code into three modules.
  tests/cache_test.py
  yanki/cache.py
  yanki/cache/__init__.py
  yanki/cache/entry.py
  yanki/cache/resolvable.py
  yanki/video.py
Due: generate-summary.sh

ASL extra: add ADVERTISEMENT, DEPOSIT, ENCOURAGE, GRAMMAR, and QUIT.
  asl/extra-full-pages.deck
  asl/extra-miscellaneous.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL extra: missed comment in last commit.
  asl/extra-full-pages.deck
Due: generate-summary.sh, find-duplicates.sh

ASL extra: add big-BRAIN and RESPECT.
  asl/extra-full-pages.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL extra: add BLAME, BLURRY, DUTY, FAULT, and RESPONSIBLE.
  asl/extra-full-pages.deck
  asl/extra-miscellaneous.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL extra: add various signs from class.
  asl/extra-full-pages.deck
  asl/extra-miscellaneous.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

ASL extra: add DOUBT, facial-EXPRESSION, and SKEPTICAL.
  asl/extra-miscellaneous.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

Use threaded `HTTPServer`
  yanki/cli/server.py
Due: generate-summary.sh

ASL extra: add BACKGROUND, FEEDBACK, OPINION, SLIDES, TATTOO, and THIRST.
  asl/extra-full-pages.deck
  asl/extra-miscellaneous.deck
  asl/summary.txt
Due: generate-summary.sh, find-duplicates.sh

CLI: Add `serve-flashcards` command
  web-files/static/flashcards.css
  web-files/static/flashcards.js
  web-files/static/general.css
  web-files/templates/flashcards.html
  yanki/cli/__init__.py
  yanki/html_out.py
  yanki/utils.py
Due: generate-summary.sh

Tests: update for `serve-flashcards`.
  tests/cli_test.py
  tests/html_test.py
Due: none

Flashcard UI: show loading message only over viewer.
  web-files/static/flashcards.css
  web-files/static/flashcards.js
  web-files/templates/flashcards.html
Due: none

Flashcard UI: make web interface functional
  web-files/static/flashcards.css
  web-files/static/flashcards.js
  web-files/templates/flashcards.html
Due: none

FLashcard UI: list available decks in tree.
  web-files/static/flashcards.css
  web-files/static/flashcards.js
  web-files/templates/flashcards.html
  yanki/cli/__init__.py
  yanki/tree.py
Due: generate-summary.sh

Flashcard UI: show deck tree as a sidebar.
  web-files/static/flashcards.css
Due: none

Flashcard UI: collapse directory in narrow windows.
  web-files/static/flashcards.css
  web-files/static/flashcards.js
  web-files/templates/flashcards.html
Due: none

Flashcard UI: move title and direction control onto one line.
  web-files/static/flashcards.css
  web-files/static/flashcards.js
Due: none

Flashcard UI: pre-build more of the interface in HTML instead of JS.
  web-files/static/flashcards.js
  web-files/templates/flashcards.html
Due: none

Flashcard UI: tweak deck list color and spacing.
  web-files/static/flashcards.css
Due: none

Flashcard UI: make layout dynamic
  web-files/static/flashcards.css
  web-files/static/flashcards.js
Due: none

Flashcard UI: fix title wrapping on iOS.
  web-files/static/flashcards.css
Due: none

Flashcard UI: don’t overlap directory on viewer
  web-files/static/flashcards.css
  web-files/static/flashcards.js
  web-files/templates/flashcards.html
Due: none

Flashcard UI: animate loading message.
  web-files/static/flashcards.css
Due: none

Flashcard UI: tweak media size and padding.
  web-files/static/flashcards.css
Due: none

Path conditions:
  generate-summary.sh: any file but: ^test|^web|^README|^\.git
  find-duplicates.sh: any of: asl/.*\.deck
